.robot-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 80px;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.robot-face-shape {
  position: relative;
  margin-top: 80px;
}


.robot-eyes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.robot-eye-left,
.robot-eye-right {
  position: relative;
  width: 120px;
  height: 120px;
  background: var(--cream);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.robot-ear-left {
  position: absolute;
  left: 16%;
  rotate: -180deg;
}

.robot-ear-right {
  position: absolute;
  right: 16%;
}

.robot-nose {
  position: absolute;
  margin: 20px 40%;
}

.robot-teeth {
  position: absolute;
  margin: 20% 31%;
  display: block;
  padding: 4px 1px 2px 4px;
}

.robot-tooth {
  position: relative;
  margin: 2px 1px;
  display: inline-block;
  opacity: 50%;
}

.robot-hair-style {
  position: absolute;
  width: 35%;
  top: 0;
  /*outline: solid 1px chartreuse;*/
}

.robot-hair-one,
.robot-hair-two, .robot-hair-three {
  position: absolute;
  
}

.robot-hair-one:first-child {
  left: 2%;
}

.robot-hair-one:last-child {
  left: 70%;
}

.robot-hair-two:nth-child(2) {
  left: 20%;
}

.robot-hair-two:nth-child(4) {
  left: 50%;
}

.robot-hair-three {
  left: 37%;
}
