.robot-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 80px;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.robot-face-shape {
  position: relative;
}


.robot-eyes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.robot-eye-left,
.robot-eye-right {
  position: relative;
  width: 120px;
  height: 120px;
  background: var(--cream);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.robot-ear-left {
  position: absolute;
  left: 10%;
  rotate: -180deg;
  
}

.robot-ear-right {
  position: absolute;
  right: 10%;
}

.robot-nose {
  position: absolute;
  margin: 20px 40%;
}

.robot-teeth {
  position: absolute;
  margin: 20% 31%;
  display: block;
}

.robot-tooth {
  position: relative;
  margin: 2px 1px;
  display: inline-block;

}

.robot-hair-style {
}

.robot-hair-one {
  position: absolute;
  top: 4%;
  left: 30%;
  margin: 30px;

}

.robot-hair-two {
  position: absolute;
  top: 5%;
  right: ;
  margin: 30px;
  
}

.robot-hair-three {
}
