.robot-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 80px;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.robot-face-shape {
}

.robot-eyes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.robot-eye-left,
.robot-eye-right {
  position: relative;
  width: 120px;
  height: 120px;
  background: var(--cream);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.robot-ear-left {

}

.robot-ear-right {

}

.robot-nose {

}

.robot-teeth {

}

.robot-tooth {

}

.robot-hair-style {
}

.robot-hair-one {

}

.robot-hair-two {

}

.robot-hair-three {
}
