:root{
  --dark-blue:#28536B;
  --light-blue:#7ea8be;
  --peach-brown:#C2948a;
  --cream:#f6f0ed;
  --pale-green:#bbb193;

}
.hexagon {
  position: relative;
  width: calc(100vh/1);
  height: calc(100vh/1.5);
  background: radial-gradient(farthest-corner at 40px 40px, 
                           var(--light-blue) 0%, 
                           var(--cream) 50%, 
                           var(--dark-blue) 100%);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: transform 0.3s ease;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 5px dashed var(--dark-blue);
  stroke: var(--light-blue);
}

.hexagon:hover {
  transform: scale(1.05);
}

