:root{
  --dark-blue:#28536B;
  --light-blue:#7ea8be;
  --peach-brown:#C2948a;
  --cream:#f6f0ed;
  --pale-green:#bbb193;

}

/* face-shape */
.hexagon {
  position: relative;
  width: calc(100vh/1);
  height: calc(100vh/1.5);
  background: radial-gradient(farthest-corner at 40px 40px, 
                           var(--light-blue) 0%, 
                           var(--cream) 50%, 
                           var(--dark-blue) 100%);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: transform 0.3s ease;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 5px dashed var(--dark-blue);
  stroke: var(--light-blue);
}

.hexagon:hover {
  transform: scale(1.05);
}

/*Eyes*/

.outside-circle-left {
  width: 113px;
  height: 113px;
  background: var(--cream);
  border-radius: 50%;
  padding: 100px;
}


.outside-circle-right {
  width: 113px;
  height: 113px;
  background: var(--cream);
  border-radius: 50%;
  padding: 100px;
}

.inside-circle-left,
.inside-circle-right {
  position: absolute;
  width: 60px;
  height: 60px;
  background: var(--pale-green);
  border-radius: 50%;
}

.inside-circle-left {
  left: 30%;
}

.inside-circle-right {
  right: 30%;
}

/*Nose*/
.oval {
}

/*Teeth*/
/*.square-1{}*/
/*.square-2{}*/
/*.square-3{}*/
/*.square-4{}*/
/*.square-5{}*/
/*.square-6{}*/
/*.square-7{}*/
/*.square-8{}*/
/*.square-9{}*/
/*.square-10{}*/
/*.square-11{}*/
/*.square-12{}*/

/*Ears*/
.pacman-left {
}

.pacman-right {
}

/*Hair*/
.cone-1 {
}

.cone-2 {
}

.cone-3 {
}

.cone-4 {
}

.reversed-corners {
}